* {
margin: 0em;
padding: 0em;
font-size: 100%;
border-style: none;
list-style-type: none;
}

body {
    font-family: helvetica, calibri, arial, sans-serif;
    background: #fff;
    color: #fff;
    font-size: 86%;
    line-height: 140%;
}

body a{
	text-decoration: none;
	color: #c8e500;
}

body a:hover{
	text-decoration: underline;
}

nav{
	padding: 5px;
	background: #324f6a;	
}

nav ul{
	display: flex;
	justify-content: space-around;	
}

nav a{
	color: #fff;
	text-decoration: none;
}

nav a:hover{
	color: #c8e500;
	text-decoration: none;
}

#current-page{
	color: #c8e500;
}

#wrapper{
	width: 900px;
	margin: 0 auto 35px auto;	
	background: #304a63;
	
}

#inner-wrapper{	
	margin: 0 auto 20px auto;
	padding: 30px 0 30px 0;
	background-image: linear-gradient(#2a3c4b, #314d68);	
}

main{
	display: flex;
	justify-content: space-between;	
}

section{
	margin-left: 40px;
	margin-right: 30px;
}

section ul li{
	list-style-type: square;
	list-style-position: inside;		
}

section ul{
	margin-bottom: 15px;
}

figure{
	width: auto; /*changed from 450px for IE*/
	margin-right: 40px;		
}

figcaption{
	font-size: 90%;
	margin-top: 15px;
}

#address{
	text-align: center;
	font-size: 100%;
}

h1{
	color: #c8e500;
	font-size: 130%;
	margin-bottom: 15px;
	letter-spacing: 0.1em;	
}

h2{
	margin-bottom: 5px;
	letter-spacing: 0.1em;
}

p{
	margin-bottom: 15px;
}

table{
	margin-bottom: 15px;
	text-align: left;	
	border-collapse: collapse;
	width: 250px;
}

table caption{
	text-align: left;
	font-weight: bold;	
	margin-bottom: 3px;
}

table th, table td {
    line-height: 120%;
    text-align: left; /*added for IE*/
}

.propTable{
	margin-bottom: 50px;
	width: auto;		
}

.propTable td{
	padding: 0 0 10px 0;
	vertical-align: top;	
}

.propTable tbody tr :nth-child(2){
	padding: 0 20px 0 25px;
    width: 150px;	
}

.propTable tbody tr :nth-child(3){
	padding: 0 20px 0 10px;
	width: 140px;
}

.propTable tbody tr :nth-child(4){
	padding: 0 20px 0 0px;
    width: 100px;
}

.toprow{
	white-space: nowrap;
    font-weight: bold;
}

.separator{
	height: 35px;
}

#searchResults{
    margin-top: 50px;
}

#buttonAndMsg{
	display: flex;
	justify-content: space-between;
}

#msgNoneFound{
	padding: 39px 350px 0 20px;
}

#jsmsg{
    margin: 0 auto 0 180px;
}

#gallery{
    margin: 30px auto 30px auto;
}

#infoPanel{
    font-size: 80%;
    margin: 0 105px 0 130px;
}

footer{
	width: 550px;
	margin: 20px auto 0 auto;
	font-size: 80%;
}

footer ul{
	display: flex;
	justify-content: space-around;
	align-items: center;	
}

footer ul a{
	color: #fff;
}

footer ul a:hover{
	text-decoration: underline;
}

label{
	line-height: 200%;
}

input{
	display: block;
	line-height: 150%;
}

input[type=submit]{
	line-height: 200%;
	padding: 5px;
}

input[type=submit]:hover{
	cursor: pointer;
}

textarea{
	font-family: helvetica, calibri, arial, sans-serif;
	font-size: 100%;
	line-height: 140%;
    display: block; /*added for edge*/
}

#contact li{
	list-style-type: none;
}

#contact{
	margin-bottom: 25px;
}



	
